compactWidth_compactHeight_showsNavigationBar.png filter=lfs diff=lfs merge=lfs -text
compactWidth_expandedHeight_showsNavigationBar.png filter=lfs diff=lfs merge=lfs -text
expandedWidth_mediumHeight_showsNavigationRail.png filter=lfs diff=lfs merge=lfs -text
mediumWidth_compactHeight_showsNavigationRail.png filter=lfs diff=lfs merge=lfs -text
mediumWidth_expandedHeight_showsNavigationRail.png filter=lfs diff=lfs merge=lfs -text
compactWidth_mediumHeight_showsNavigationBar.png filter=lfs diff=lfs merge=lfs -text
expandedWidth_compactHeight_showsNavigationRail.png filter=lfs diff=lfs merge=lfs -text
expandedWidth_expandedHeight_showsNavigationRail.png filter=lfs diff=lfs merge=lfs -text
mediumWidth_mediumHeight_showsNavigationRail.png filter=lfs diff=lfs merge=lfs -text
