name: Run Gradle on PRs
on: pull_request
jobs:
    prBranch:
        timeout-minutes: 300
        strategy:
            matrix:
                variant: [pr]
                os: [ubuntu-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-java@v3
              with:
                  distribution: temurin
                  java-version: 19

            - uses: sdkman/sdkman-action@master
              id: sdkman
              with:
                  candidate: gradleprofiler
                  version: 0.19.0

            - name: Setup Gradle
              uses: gradle/gradle-build-action@v2
            - name: Execute Gradle build
              env:
                  GE_URL: ${{ secrets.GE_URL }}
                  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
              run: |
                  unzip  ${{ steps.sdkman.outputs.file }}
                  echo $'assemble { \n title= "assemble" \n tasks = ["assembleDebug"] \n cleanup-tasks = ["clean"] \n  apply-abi-change-to = ["core/data/src/main/java/com/google/samples/apps/nowinandroid/core/data/repository/NewsRepository.kt"] \n gradle-args = ["-Dscan.tag.${{ matrix.variant }}", "-Dscan.tag.experiment", "-Dscan.tag.${{github.run_number}}"] \n}' >scenario
                  gradle-profiler-0.19.0/bin/gradle-profiler --benchmark --scenario-file scenario assemble --warmups 2 --iterations 6


    main:
        timeout-minutes: 300
        strategy:
            matrix:
                variant: [main]
                os: [ubuntu-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-java@v3
              with:
                  distribution: temurin
                  java-version: 17

            - uses: sdkman/sdkman-action@master
              id: sdkman
              with:
                  candidate: gradleprofiler
                  version: 0.19.0

            - name: Setup Gradle
              uses: gradle/gradle-build-action@v2
            - name: Execute Gradle build
              env:
                  GE_URL: ${{ secrets.GE_URL }}
                  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
              run: |
                    git fetch origin
                    git checkout main
                  unzip  ${{ steps.sdkman.outputs.file }}
                  echo $'assemble { \n title= "assemble" \n tasks = ["assembleDebug"] \n cleanup-tasks = ["clean"] \n  apply-abi-change-to = ["core/data/src/main/java/com/google/samples/apps/nowinandroid/core/data/repository/NewsRepository.kt"] \n gradle-args = ["-Dscan.tag.${{ matrix.variant }}", "-Dscan.tag.experiment", "-Dscan.tag.${{github.run_number}}"] \n}' >scenario
                  gradle-profiler-0.19.0/bin/gradle-profiler --benchmark --scenario-file scenario assemble --warmups 2 --iterations 6


    geapi:
        timeout-minutes: 300
        runs-on: ubuntu-latest
        needs: [ prBranch, main]
        if: always()
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-java@v3
              with:
                  distribution: zulu
                  java-version: 11.0.4

            - name: Setup Gradle
              uses: gradle/gradle-build-action@v2

            - name: Execute Gradle build
              id : geapix
              env:
                  GE_URL: ${{ secrets.GE_URL }}
                  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
                  GRADLE_API_KEY: ${{ secrets.GE_API_KEY }}
              run: |
                  mkdir geapi
                  cd geapi
                  git clone https://github.com/cdsap/GradleEnterpriseApiReports.git
                  cd GradleEnterpriseApiReports
                  git checkout main
                  ./gradlew install
                  geapi/build/install/geapi/bin/geapi --report=experiment --api-key=$GRADLE_API_KEY --url=https://ge.solutions-team.gradle.com  --task=assembleDebug --max-builds=100  --tags=main --tags=experiment --tags=pr --tags=${{github.run_number}} --experiment-id=${{github.run_number}} --project=nowinandroid > alo
                  awk '/Processing build scan cache performance/ {p=1;next}; p==1 {print}' alo > alo2
                  CA=""
                  while IFS= read -r line
                  do
                     CA="${CA}\n$line"
                  done < alo2
                  echo ${CA}
                  echo "::set-output name=test::$CA"
            - name: Send
              uses: actions/github-script@v5
              with:
                  github-token: ${{secrets.GITHUB_TOKEN}}
                  script: |
                      const comment = '```${{ steps.geapix.outputs.test }}';
                      github.rest.issues.createComment({
                        issue_number: context.issue.number,
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        body: comment
                      })

